/* * {
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-repeat: no-repeat;
    min-height: 100vh;
}
header {
    background-color: rgba(0, 255, 255, 0.048);
    padding: 6px 0px;
    position: sticky;
    z-index: 2;
}
.container {
    display: flex;
    list-style-type: none; 
    justify-content: end;
    gap: 2%;
    margin-right: 0.5em;
}
#primeiro-item {
    margin-right: auto;
    margin-left: 0.5em;
}
.item {
    padding: 30px 45px;
    background-color: #653bff;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #00000081;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    height: 100vh;
}

button {
    border: none;
    border-radius: 12px;
    background-color: wheat;
    padding: 20px;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
}

p {
    border: none;
    border-radius: 12px;
    background-color: rgb(255, 246, 229);
    padding: 10px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}
p {
    
}